body {
   padding-top: 70px;
}

p {
   line-height: 1.8;
}

h1 {
   margin-top: 25px;
}

footer {
   margin-top: 25px;
   padding: 75px 0 50px 0;
   background-color: #e9ecef;
   color: #999;
   font-weight: thin;
}
